---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FullWidthSplit from "../components/FullWidthSplit.astro";
import DividerBlock from "../components/DividerBlock.astro";
import Gallery4 from "../components/Gallery4.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
import BookNowDivider from "../components/BookNowDivider.astro";

const booths = [
  {
    mediaType: "image",
    mediaSrc: "https://via.placeholder.com/700x500",
    alt: "Booth Image",
    title: "360 Booth",
    description: "Capture Every Angle",
    buttonAction: () => alert("Get Prices for 360 Booth"),
  },
];

const photos = [
  { src: "/images/booths/360/couple.jpeg", alt: "Photo 1" },
  { src: "/images/booths/360/glitter.jpeg", alt: "Photo 2" },
  { src: "/images/booths/360/purple.jpeg", alt: "Photo 3" },
  { src: "/images/booths/360/silver.jpeg", alt: "Photo 4" },
];

const cards = [
  {
    iconSrc: "/images/booths/prints.png",
    iconAlt: "Custom Photo Overlay",
    title: "CUSTOM OVERLAY",
    description: "Special messages, event dates or branding",
  },
  {
    iconSrc: "/images/booths/gallery.png",
    iconAlt: "Online Gallery",
    title: "ONLINE GALLERY",
    description:
      "A personalized gallery for guests to download free digital copies",
  },
  {
    iconSrc: "/images/booths/attendant.png",
    iconAlt: "Popstar Attendant",
    title: "ATTENDANT",
    description:
      "To set-up, breakdown and make sure things runs smoothly",
  },
  {
    iconSrc: "/images/booths/screen.png",
    iconAlt: "Welcome Screen",
    title: "CUSTOM TAP TO START SCREEN",
    description: "Supports photos, videos and custom artwork",
  },
];
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <Header
      title="360 Booth"
      subtitle=""
      backgroundImage="/images/booths/360/gold.webp"
    />
    <FullWidthSplit
      imageSrc="/images/booths/360/silver-room.webp"
      headerText="Dynamic and Immersive"
      paragraphText="Experience the thrill of 360° photography with our cutting-edge booth. Perfect for any event, it creates unforgettable, all-around memories."
    />
    <DividerBlock
      headerText="The 360 Booth"
      descriptionText="Step into the future of photography with our 360 Booth. It's easy to use, instantly shares your photos, and delivers immersive, social media-ready images in seconds."
      buttonText="BOOK 360 BOOTH"
      linkUrl="/inquiry"
    />
    <Gallery4 photos={photos} />
    <BoothFeatures headerText="The 360 Booth Includes" cards={cards} />
    <BookNowDivider
      headerText="READY TO BOOK?"
      descriptionText="Elevate your event with our 360 Booth. Book now and capture every moment from every angle!"
      buttonText="BOOK NOW"
      linkUrl="/inquiry"
    />
  </main>
</Layout>
