---
const {
  headerText = "North Carolina's Hottest 360 Booth",
  descriptionText = "LIMITED SPOTS AVAILABLE FOR BUSY DATES IN 2024. Check Availability!",
  buttonText = "Check Availability!",
  linkUrl = "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_category_id=17207",
  reviewText = "Read Reviews →",
  featureText = "FEATURED ON",
  featureImages = [
    { src: "/images/theknot.png", alt: "theknot" },
    { src: "/images/weddingwire.png", alt: "weddingwire" },
  ],
  backgroundImage = "/images/360/silver-room.webp"
} = Astro.props;

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import DividerBlock from "../components/DividerBlock.astro";
import Gallery4 from "../components/Gallery4.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
import BookNowDivider from "../components/BookNowDivider.astro";
import About from "../components/About.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
import ThreeSixtyBooths from "../components/ThreeSixtyBooths.astro";


const cards = [
  {
    iconSrc: "/images/prints.png",
    iconAlt: "Custom Photo Overlay",
    title: "CUSTOM OVERLAY",
    description: "Special messages, event dates or branding",
  },
  {
    iconSrc: "/images/gallery.png",
    iconAlt: "Online Gallery",
    title: "ONLINE GALLERY",
    description:
      "A personalized gallery for guests to download free digital copies",
  },
  {
    iconSrc: "/images/attendant.png",
    iconAlt: "Popstar Attendant",
    title: "ATTENDANT",
    description: "To set-up, breakdown and make sure things runs smoothly",
  },
  {
    iconSrc: "/images/screen.png",
    iconAlt: "Welcome Screen",
    title: "CUSTOM TAP TO START SCREEN",
    description: "Supports photos, videos and custom artwork",
  },
];
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <ThreeSixtyBooths />
    <BookNowDivider
    headerText="CHECK AVAILABILITY"
    descriptionText="Popular dates get snatched up quickly."
    buttonText="Check Availability"
    linkUrl="https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99889"
  />
  </main>
</Layout>
