---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FullWidthSplit from "../components/FullWidthSplit.astro";
import DividerBlock from "../components/DividerBlock.astro";
import FullWidthGallery from "../components/FullWidthGallery.astro";
import BoothFeatures from "../components/BoothFeatures.astro"
import BookNowDivider from "../components/BookNowDivider.astro"

const booths = [
  {
    mediaType: "image",
    mediaSrc: "https://via.placeholder.com/700x500",
    alt: "Booth Image",
    title: "Popstar Booth",
    description: "Affordable and Fun",
    buttonAction: () => alert("Get Prices for Popstar Booth"),
  },
];

const photos = [
  { src: "https://via.placeholder.com/600x400", alt: "Photo 1" },
  { src: "https://via.placeholder.com/600x400", alt: "Photo 2" },
  { src: "https://via.placeholder.com/600x400", alt: "Photo 3" },
  { src: "https://via.placeholder.com/600x400", alt: "Photo 4" },
  { src: "https://via.placeholder.com/600x400", alt: "Photo 5" },
  { src: "https://via.placeholder.com/600x400", alt: "Photo 6" },
];

const cards = [
  {
    iconSrc: '/images/booths/prints.png',
    iconAlt: 'Custom Prints',
    title: 'CUSTOM PRINTS',
    description: 'Unlimited 4x6 prints designed custom to your taste',
  },
  {
    iconSrc: '/images/booths/gallery.png',
    iconAlt: 'Online Gallery',
    title: 'ONLINE GALLERY',
    description: 'A personalized gallery for guests to download free digital copies',
  },
  {
    iconSrc: '/images/booths/backdrops-props.png',
    iconAlt: 'Backdrops / Props',
    title: 'BACKDROPS / PROPS',
    description: 'We have a large selection ready on-hand for you to choose from',
  },
  {
    iconSrc: '/images/booths/attendant.png',
    iconAlt: 'SL Attendant',
    title: 'SL ATTENDANT',
    description: 'To set-up, breakdown + entertain the hell out of your guests',
  },
];
---

<Layout title="Popstar Photo Booths">
  <main>
    <Header
      title="Popstar Booth"
      subtitle=""
      backgroundImage="https://via.placeholder.com/1920x1080"
    />
    <FullWidthSplit
      imageSrc="https://via.placeholder.com/1920x1080"
      headerText="Features"
      paragraphText="Stuff"
    />
    <DividerBlock
      headerText="Simplicity Is The New Black"
      descriptionText="Gorgeous Insta worthy images require two things; sensational lighting (we got you) and YOU. Made popular by the Kardashians, the Beauty Booth is perfect for those of you who prefer simplicity and elegance. So ditch the props and busy backdrop and let your charisma shine through!"
      buttonText="BOOK POPSTAR BOOTH"
    />
    <FullWidthGallery photos={photos} />
    <BoothFeatures
      headerText="The Popstar Booth Includes"
      cards={cards}
    />
    <BookNowDivider />
  </main>
</Layout>
