---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Form from "../components/Form.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
    title="About Us"
    subtitle=""
    backgroundImage="/images/branding/header.jpeg"
  />
  <main>
    <About />
    <Form emContent="" title="Get A Quote" />
  </main>
</Layout>
