---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Faq from "../components/Faq.astro";
import BackdropsWidget from "../components/BackdropsWidget.astro";
import SecureDate from "../components/SecureDate.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
    <section class="py-5">
      <div class="container col-xxl-8 px-4">
        <div class="row text-center">
          <div class="col-12">
            <h1 class="fw-bold display-5 mb-4 position-relative">
              Backdrops
              <span class="d-block mx-auto bg-warning mt-2" style="height: 4px; width: 100px;"></span>
            </h1>
            <p class="lead mx-auto" style="max-width: 800px;">
              Explore our wide selection of popular backdrops. Looking for something unique? We can custom design and order a backdrop tailored just for your event!
            </p>
          </div>
        </div>
      </div>
    </section>
    <BackdropsWidget />
    <SecureDate />
</Layout>

<style>
  .divider-block .content {
    max-width: 800px;
    margin: 0 auto;
  }

  .divider-block h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .divider-block p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .divider-block a.button:hover {
    background-color: #f1f1f1;
  }
</style>
