---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import DividerBlock from "../components/DividerBlock.astro";
import Faq from "../components/Faq.astro";
import BackdropsWidget from "../components/BackdropsWidget.astro";
---
<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header />
  <main>
    <DividerBlock
      headerText="Backdrops"
      headerTextColor="white"
      descriptionText="We have a variety of popular backdrops in stock and can custom design and order as well!"
      descriptionTextColor="white"
      buttonText=""
      buttonTextColor=""
      linkUrl="https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_category_id=17207"
      bgColor="black"
      topMargin="100px"
      bottomMargin="100px"
    />
    <BackdropsWidget />
    <About />
    <Faq />
  </main>
</Layout>
