---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import Booths from "../components/Booths.astro";
import Form from "../components/Form.astro";
import Customize from "../components/Customize.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";

const booths = [
  {
    mediaType: "video",
    mediaSrc: "/images/booths/popstar.mp4",
    alt: "Popstar Booth",
    title: "Popstar Booth",
    description: "Digital Booth. Fun and Affordable.",
    buttonAction: "document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });"
  },
  {
    mediaType: "video",
    mediaSrc: "/images/booths/rockstar.mp4",
    alt: "Rockstar Booth",
    title: "Rockstar Booth",
    description: "Professional lighting. Color or black & white prints.",
    buttonAction: "document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });"
  },
  {
    mediaType: "video",
    mediaSrc: "/images/booths/tortilla.mp4",
    alt: "360 Booth",
    title: "360 Booth",
    description: "Experience immersive 360° videos.",
    buttonAction: "document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });"
  }
];
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
    title="Birthday Photo"
    subtitle="Booth Rentals"
    backgroundImage="/images/branding/header.jpeg"
  />
  <main>
    <CTA
      title="Do You Need a Photo Booth for an Epic Birthday Party?"
      description="Say Goodbye to Tacky Photo Booths and Cheezy Props. Say Hi to Chic Backdrops and Classy Prints. Reach out to Danny to see how we can enhance your next event."
      imagePaths={[
        { src: "/images/branding/theknot.png", alt: "The Knot" },
        { src: "/images/branding/weddingwire.png", alt: "WeddingWire" },
      ]}
    />
    <Booths booths={booths} />
    <Form emContent=":" title="Tell Us About Your Event" />
    <Customize />
    <About />
    <Partners />
    <ReviewsWidget />
  </main>
</Layout>
