---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import Booths from "../components/Booths.astro";
import Form from "../components/Form.astro";
import Customize from "../components/Customize.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
    title="Book Now"
    subtitle=""
    backgroundImage="/images/header.jpeg"
  />
  <main>
    <Form emContent="Book Now" title="Tell Us About Your Event" />
    <ReviewsWidget />
  </main>
</Layout>
