---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FormShort from "../components/FormShort.astro";

---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <FormShort />
  </main>
</Layout>

  