---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Booths from "../components/Booths.astro";
import FormShort from "../components/FormShort.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import BestEventEver from "../components/BestEventEver.astro";
import SearchNoFurther from "../components/SearchNoFurther.astro";
import Faq from "../components/Faq.astro";
import ReviewSlider from "../components/ReviewSlider.astro";
import AppleReview from "../components/AppleReview.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header />
  <main>
    <BestEventEver />
    <AppleReview/>
    <ReviewSlider />
    <SearchNoFurther />
    <Partners />
    <Booths />
    <FormShort />
    <BoothFeatures />
    <About />
    <Faq />
  </main>
</Layout>

