---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
import Testimonials from "../components/Testimonials.astro";
import Customers from "../components/Customers.astro";
import Pricing from "../components/Pricing.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";

---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <Hero />
    <Features />
    <PhotoGallery />
    <Testimonials />
    <Customers />
    <Pricing />
    <About />
    <ContactForm />
    <Footer />
  </main>
</Layout>

  