---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Booths from "../components/Booths.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
import DividerBlock from "../components/DividerBlock.astro";
import BestEventEver from "../components/BestEventEver.astro";
import SearchNoFurther from "../components/SearchNoFurther.astro";
import Faq from "../components/Faq.astro";
import CheckDateWidget from "../components/CheckDateWidget.astro";
import BookNowDivider from "../components/BookNowDivider.astro";

const cards = [
  {
    iconSrc: "/images/prints.png",
    iconAlt: "Custom Photo Overlay",
    title: "CUSTOM OVERLAY",
    description: "Special messages, event dates or branding",
  },
  {
    iconSrc: "/images/gallery.png",
    iconAlt: "Online Gallery",
    title: "ONLINE GALLERY",
    description:
      "A personalized gallery for guests to download free digital copies",
  },
  {
    iconSrc: "/images/backdrops-props.png",
    iconAlt: "Backdrops / Props",
    title: "BACKDROPS / PROPS",
    description:
      "We have a large selection ready on-hand for you to choose from",
  },
  {
    iconSrc: "/images/screen.png",
    iconAlt: "Welcome Screen",
    title: "CUSTOM TAP TO START SCREEN",
    description: "Supports photos, videos and custom artwork",
  },
];
---

---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
  />
  <main>
    <BestEventEver/>
    <ReviewsWidget />
    <SearchNoFurther />
    <DividerBlock
    headerText="Choose Your Photo Booth Experience"
    descriptionText="We’re not your regular run-of-the-mill photo booth; think of us more like the ultimate party wingman, capturing professional studio-quality photography and making your guests feel like they have their own personal photographer all night long!"
  />
    <Booths />
    <Partners />
    <BoothFeatures headerText="Our Booths Include" cards={cards} />
    <About />
    <Faq />
  </main>
</Layout>
