---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Booths from "../components/Booths.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
import DividerBlock from "../components/DividerBlock.astro";
import BestEventEver from "../components/BestEventEver.astro";
import SearchNoFurther from "../components/SearchNoFurther.astro";
import Faq from "../components/Faq.astro";
import CheckDateWidget from "../components/CheckDateWidget.astro";
import BookNowDivider from "../components/BookNowDivider.astro";

---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
  />
  <main>
    <BestEventEver/>
    <DividerBlock
    headerText="Choose Your Experience"
    descriptionText="Are Your Ready To Make The Best Decision Ever For Your Event?"
  />
    <Booths />
    <ReviewsWidget />
    <Partners />
    <About />
    <Faq />
  </main>
</Layout>
