---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
import Testimonials from "../components/Testimonials.astro";
import Comparison from "../components/Comparison.astro";
import FAQ from "../components/FAQ.astro";
import Pricing from "../components/Pricing.astro";
import BookingSteps from "../components/BookingSteps.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <Header />
    <Hero />
    <Features />
    <PhotoGallery />
    <Testimonials />
    <FAQ />
    <Pricing />
    <ContactForm />
    <Footer />
  </main>
</Layout>

  