---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import Booths from "../components/Booths.astro";
import Form from "../components/Form.astro";
import Customize from "../components/Customize.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
import BookNowDivider from "../components/BookNowDivider.astro";
import DividerBlock from "../components/DividerBlock.astro";
import FullWidthSplit from "../components/FullWidthSplit.astro";
import Gallery4 from "../components/Gallery4.astro";

const cards = [
  {
    iconSrc: "/images/booths/prints.png",
    iconAlt: "Custom Photo Overlay",
    title: "CUSTOM OVERLAY",
    description: "Special messages, event dates or branding",
  },
  {
    iconSrc: "/images/booths/gallery.png",
    iconAlt: "Online Gallery",
    title: "ONLINE GALLERY",
    description:
      "A personalized gallery for guests to download free digital copies",
  },
  {
    iconSrc: "/images/booths/backdrops-props.png",
    iconAlt: "Backdrops / Props",
    title: "BACKDROPS / PROPS",
    description:
      "We have a large selection ready on-hand for you to choose from",
  },
  {
    iconSrc: "/images/booths/screen.png",
    iconAlt: "Welcome Screen",
    title: "CUSTOM TAP TO START SCREEN",
    description: "Supports photos, videos and custom artwork",
  },
];

const photos = [
  { src: "/images/booths/popstar/getlit.jpeg", alt: "Photo 1" },
  { src: "/images/booths/popstar/high.jpeg", alt: "Photo 2" },
  { src: "/images/booths/popstar/briercreek.jpeg", alt: "Photo 3" },
  { src: "/images/booths/popstar/lacey.jpeg", alt: "Photo 4" },
];
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
    title="Raleigh Photo"
    subtitle="Booth Rentals"
    backgroundImage="/images/homepage/header.jpeg"
  />
  <main>
    <FullWidthSplit/>
    <Booths />
    <DividerBlock
      headerText="With Popstar Photo Booths"
      descriptionText="You're Always Guaranteed Premium Backdrops, Fun Props, Custom Prints and Attention to Detail."
      buttonText="GET PRICES"
      linkUrl="https://popstar-photo-booths.checkcherry.com/reservation/start"
    />
    <Gallery4 photos={photos} />
    <BookNowDivider
      headerText="GET PRICES"
      descriptionText="Popular Dates Get Snatched Up Quickly. Act Now To Secure Your Date!"
      buttonText="GET PRICES"
      linkUrl="https://popstar-photo-booths.checkcherry.com/reservation/start"
    />
    <BoothFeatures headerText="All Booths Include" cards={cards} />
    <About />
    <Partners />
    <ReviewsWidget />
  </main>
</Layout>
