---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header />
  <main>
    <Form emContent="" title="Tell Us About Your Event" />
  </main>
</Layout>