---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import FormNetlify from "../components/FormNetlify.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <FormNetlify />
  </main>
</Layout>