---
import Layout from "../layouts/Layout.astro";
import PhotoTemplatesWidget from "../components/PhotoTemplatesWidget.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <PhotoTemplatesWidget />
  </main>
</Layout>
