---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FullWidthSplit from "../components/FullWidthSplit.astro";
import DividerBlock from "../components/DividerBlock.astro";
import Gallery4 from "../components/Gallery4.astro";
import BoothFeatures from "../components/BoothFeatures.astro";
import BookNowDivider from "../components/BookNowDivider.astro";
import About from "../components/About.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";

const booths = [
  {
    mediaType: "image",
    mediaSrc: "https://via.placeholder.com/700x500",
    alt: "Booth Image",
    title: "Popstar Booth",
    description: "Classy and Timeless",
    buttonAction: () => alert("Get Prices for Rockstar Booth"),
  },
];

const photos = [
  { src: "/images/booths/popstar/getlit.jpeg", alt: "Photo 1" },
  { src: "/images/booths/popstar/high.jpeg", alt: "Photo 2" },
  { src: "/images/booths/popstar/briercreek.jpeg", alt: "Photo 3" },
  { src: "/images/booths/popstar/lacey.jpeg", alt: "Photo 4" },
];

const cards = [
  {
    iconSrc: "/images/booths/prints.png",
    iconAlt: "Custom Photo Overlay",
    title: "CUSTOM OVERLAY",
    description: "Special messages, event dates or branding",
  },
  {
    iconSrc: "/images/booths/gallery.png",
    iconAlt: "Online Gallery",
    title: "ONLINE GALLERY",
    description:
      "A personalized gallery for guests to download free digital copies",
  },
  {
    iconSrc: "/images/booths/backdrops-props.png",
    iconAlt: "Backdrops / Props",
    title: "BACKDROPS / PROPS",
    description:
      "We have a large selection ready on-hand for you to choose from",
  },
  {
    iconSrc: "/images/booths/screen.png",
    iconAlt: "Welcome Screen",
    title: "CUSTOM TAP TO START SCREEN",
    description: "Supports photos, videos and custom artwork",
  },
];
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <Header
      title="Popstar Booth"
      subtitle=""
      backgroundImage="/images/booths/popstar/header.jpg"
    />
    <FullWidthSplit
      imageSrc="/images/booths/popstar/girls-group.jpg"
      headerText="Simple and Fun"
      paragraphText="The Popstar Booth is a fan favorite for it's simplicity and affordability."
    />
    <DividerBlock
      headerText="The Popstar Booth"
      descriptionText="The Popstar Booth is our go anywhere, super fun party elevator! It's so easy to use, it shares photos instantly, and you get insta ready images in a few taps."
      buttonText="GET PRICES"
      linkUrl="https://popstar-photo-booths.checkcherry.com/reservation/start"
    />
    <Gallery4 photos={photos} />
    <BoothFeatures headerText="The Popstar Booth Includes" cards={cards} />
    <About />
    <ReviewsWidget />
    <BookNowDivider
      headerText="LEARN MORE"
      descriptionText="Get ready for an unforgettable experience. Book your event now and let the fun begin!"
      buttonText="Get Prices"
      linkUrl="https://popstar-photo-booths.checkcherry.com/reservation/start"
    />
  </main>
</Layout>
