---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Privacy from "../components/Privacy.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header
    title="Privacy Policy"
    subtitle=""
    backgroundImage="/images/branding/header.jpeg"
  />
  <main>
    <Privacy />
  </main>
</Layout>
