---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import Booths from "../components/Booths.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <Header />
  <main>
    <CTA
      title="Looking for a Sorority Photo Booth Rental?"
      description="Make Your Sorority Event Unforgettable with Our Chic Photo Booths! Say Goodbye to Tacky Photo Booths and Cheesy Props. Say Hi to Stylish Backdrops and Classy Prints. Reach out to Danny to see how we can enhance your sorority gathering."
    />
    <Booths />
    <About />
    <Partners />
    <ReviewsWidget />
  </main>
</Layout>
