---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import Booths from "../components/Booths.astro";
import Form from "../components/Form.astro";
import Customize from "../components/Customize.astro";
import About from "../components/About.astro";
import Partners from "../components/Partners.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
---

<Layout title="Popstar Photo Booths">
  <Header
    title="Sorority Photo"
    subtitle="Booth Rentals"
    backgroundImage="/images/branding/header.jpeg"
  />
  <main>
    <CTA
      title="Does your sororiety need a photo booth for an event?"
      description="Say Goodbye to Tacky Photo Booths and Cheezy Props. Say Hi to Chic Backdrops and Classy Prints. Reach out to Danny if you’re in the Triangle area to see how we can enhance your next event."
      imagePaths={[
        { src: "/images/branding/theknot.png", alt: "The Knot" },
        { src: "/images/branding/weddingwire.png", alt: "WeddingWire" },
      ]}
    />
    <Booths />
    <Form emContent=":" title="Tell Us About Your Event" />
    <Customize />
    <About />
    <Partners />
    <ReviewsWidget />
  </main>
</Layout>
