---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Terms from "../components/Terms.astro";
---

<Layout title="Popstar Photo Booths">
  <Header
    title="Terms and"
    subtitle="Conditions"
    backgroundImage="/images/branding/header.jpeg"
  />
  <main>
    <Terms />
  </main>
</Layout>
