---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
---

<Layout title="Popstar Photo Booths">
  <Header 
  title="Thank You" 
  subtitle="Check Your Email" 
  backgroundImage="/images/branding/header.jpeg"
/>
<main>
  <ReviewsWidget />
</main>
</Layout>