---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ReviewsWidget from "../components/ReviewsWidget.astro";
---

<Layout title="Popstar Photo Booths">
<Header title="Thank You!" subtitle="" />
  <main>
    <ReviewsWidget />
  </main>
</Layout>