---
import Layout from "../layouts/Layout.astro";
import DividerBlock from "../components/DividerBlock.astro";
---

<Layout title="Popstar Photo Booths | Raleigh | Durham | Surrounding Areas">
  <main>
    <DividerBlock
      headerText="Thank You"
      descriptionText="Thank you for considering us for your upcoming event! We are here to provide you with a fun and memorable photo booth experience! We'll be reaching out shortly!"
      buttonText="Home Page"
      linkUrl="https://www.popstarphotobooths.com"
    />
  </main>
</Layout>