<section id="about" class="py-5 bg-light">
    <div class="container col-xxl-8 px-4">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-8 col-lg-6">
          <img src="/images/meet.jpeg" class="d-block mx-lg-auto img-fluid rounded" alt="About Us" width="700" height="500" loading="lazy" />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Meet The Team</h1>
          <p class="lead">Popstar Photo Booths was founded by husband and wife duo, Danny and Danea Sullivan. With Danny's experience as a professional baseball player and Danea's history as a Disney World dancer, they both understand the intricate details and dedication necessary for success. Their diverse experiences are the backbone of their commitment to taking your event to a higher level. Trust them to bring a unique touch to your occasion with their balanced blend of passion and professionalism. For an event that truly stands out, contact Popstar Photo Booths today!</p>
        </div>
      </div>
    </div>
  </section>
  