<section class="testimonial-section">
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5">
      <div class="col-lg-6">
        <div class="text-center text-lg-start">
          <h1 class="display-5 fw-bold lh-1 mb-3 testimonial-title">
            <span class="highlight">Client Testimonial</span>
          </h1>
          <h2 class="subtitle mb-3">AppleCare Awards Party</h2>
          <p class="lead mb-4 testimonial-description">Another happy client!</p>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-lg-6">
        <img
          src="/images/apple-review.png"
          class="d-block mx-lg-auto img-fluid rounded mb-3"
          alt="A testimonial from Apple"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>

<style>
  /* Section Styles */
  .testimonial-section {
    background-color: black;
    padding: 60px 0;
  }

  /* Title Styles */
  .testimonial-title {
    color: black;
    font-size: 3.5rem;
  }

  .highlight {
    background-color: #FFD601;
    padding: 0 5px;
  }

  /* Subtitle Styles */
  .subtitle {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
  }

  /* Description Styles */
  .testimonial-description {
    color: #fff;
  }
</style>
