---
const iframeSrc = "https://popstar-photo-booths.checkcherry.com/photobooth_backdrops/?iframe=true&props=%7B%22showBookNowButton%22%3Atrue%2C%22bookNowButtonText%22%3A%22Book%20Now%22%2C%22showPrice%22%3Afalse%2C%22showTitle%22%3Afalse%2C%22maxWidth%22%3A%221200%22%7D";
const iframeStyles = "margin: 0; padding: 0; border: none; width: 100%; max-width: 1200px; height: 400px;";
---
<section class="iframe-container">
  <iframe
    class="checkcherry-autoresize-frame"
    src={iframeSrc}
    style={iframeStyles}
    scrolling="auto"
    allowtransparency="true"
  ></iframe>
  <script
    src="https://popstar-photo-booths.checkcherry.com/api/checkcherry_widgets/iframe"
    type="text/javascript"
    charset="utf-8"
  ></script>
</section>

<style>
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.iframe-container iframe {
  border-radius: 8px; /* Matches container corners */
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .iframe-container {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .iframe-container iframe {
    width: 95%; /* Increase iframe width to take up more space */
    height: 300px; /* Adjust height for better mobile fit */
  }
}
</style>
