---
const { headerText = "LEARN MORE", descriptionText = "", buttonText = "Get Prices", linkUrl = "#" } = Astro.props;
---

<section class="divider-block text-center text-white py-5">
  <div class="container">
    <h1 class="display-1 fw-bold position-relative d-inline-block mb-4 pb-3">{headerText}</h1>
    <p class="lead mx-auto mb-4" style="max-width: 600px;">{descriptionText}</p>
    <a href={linkUrl} class="btn btn-lg btn-primary">{buttonText}</a>
  </div>
</section>

<style>
  .divider-block {
    background-color: black;
  }
  .divider-block h1::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: yellow;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
