<section class="py-5">
  <h1 class="section-title text-center p-4"><em>Step 1:</em> Choose Your Booth</h1>
  <div class="container pb-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col pb-3">
        <div class="card shadow-sm">
          <video src="/images/booths/popstar.mp4" class="card-img-top" autoplay muted loop playsinline alt="Popstar Booth"></video>
          <div class="card-body p-4">
            <h2 class="card-title">Popstar Booth</h2>
            <p class="card-text">Digital Booth. Fun and Affordable.</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary" onclick="document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });">Get Prices</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col pb-3">
        <div class="card shadow-sm">
          <video src="/images/booths/rockstar.mp4" class="card-img-top" autoplay muted loop playsinline alt="Rockstar Booth"></video>
          <div class="card-body p-4">
            <h2 class="card-title">Rockstar Booth</h2>
            <p class="card-text">Professional lighting. Color or black & white prints.</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary" onclick="document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });">Get Prices</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col pb-3">
        <div class="card shadow-sm">
          <video src="/images/booths/tortilla.mp4" class="card-img-top" autoplay muted loop playsinline alt="360 Booth"></video>
          <div class="card-body p-4">
            <h2 class="card-title">360 Booth</h2>
            <p class="card-text">Experience immersive 360° photos.</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary" onclick="document.getElementById('form-section').scrollIntoView({ behavior: 'smooth' });">Get Prices</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
