<section class="py-5 text-center bg-light">
    <div class="container">
      <div class="row py-lg-5">
        <div class="col-lg-10 col-md-10 mx-auto text-left-mobile">
          <h1 class="section-title">Looking For a Photo Booth in Raleigh?</h1>
          <p class="lead">
            If you are looking for a photo booth where the photos are actually awesome and the experience is just as fun, look no further. Reach out to Danny if you’re in the Triangle area to see how we can enhance your next event.
          </p>
        </div>
      </div>
    </div>
  </section>
  