---
export interface Props {
  title: string;
  description: string;
  imagePaths?: Array<{ src: string, alt: string }>;
}

const { title, description, imagePaths = [] } = Astro.props;
---
<section class="py-5 text-center bg-light">
  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-10 col-md-10 mx-auto text-left-mobile">
        <h1 class="section-title">{title}</h1>
        <p class="lead">{description}</p>
        <div class="featured-on mt-4">
          {imagePaths.length > 0 && <p class="text-muted">FEATURED ON</p>}
          {imagePaths.map(image => (
            <img src={image.src} alt={image.alt} class="featured-logo" />
          ))}
        </div>
          <a href="https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_category_id=17207" class="btn btn-lg btn-primary mt-3" role="button">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
