<section>
    <div class="album py-5">
      <h1 class="section-title text-center p-4"><em>Step 3:</em>Customize Your Experience</h1>
      <div class="container pb-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/customize/collaborate.png" class="card-img-top customize-img-top" alt="Popstar Booth" />
              <div class="card-body">
                <p class="card-title">CUSTOMIZE</p>
                <p class="card-text">We'll collaborate and iron out all the details! We've got you!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/customize/party.png" class="card-img-top customize-img-top" alt="Rockstar Booth" />
              <div class="card-body">
                <p class="card-title">PARTY</p>
                <p class="card-text">Once you're happy with the plan, get ready to party! We'll handle the rest!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="images/customize/share.png" class="card-img-top customize-img-top" alt="Boomerang Booth" />
              <div class="card-body">
                <p class="card-title">SHARE</p>
                <p class="card-text">After your event we'll send you a download link with all of your images. Share away!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  