<section class="py-5">
  <div class="container col-xxl-8 px-4">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="fw-bold display-5 mb-4 position-relative">
          Fun Features
          <span class="d-block mx-auto bg-warning mt-2" style="height: 4px; width: 100px;"></span>
        </h1>
        <p class="lead mx-auto" style="max-width: 800px;">
          Guests love incorporating these fun and unique features into their events, making every celebration truly one-of-a-kind. From custom backdrops to engaging filters, these elements add a personal touch that everyone will remember.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 text-center">
        <video src="/videos/tts.mp4" class="d-block mx-lg-auto img-fluid rounded" autoplay muted loop></video>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Custom Start Screens</h1>
        <p class="lead">
          Transform your event with our green screen background feature! Choose from a variety of stunning virtual scenes or let us create a custom backdrop to match your event's theme.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 order-lg-2 text-center">
        <img src="/images/prints.png" class="d-block mx-lg-auto img-fluid rounded" alt="Photo Booth" />
      </div>
      <div class="col-12 col-lg-6 order-lg-1">
        <h1 class="display-5 fw-bold lh-1 mb-3">Custom Designed Instant Prints</h1>
        <p class="lead">
          Every guest gets a print to take home! Choose between classic 2x6 strips or premium 4x6 prints, with designs tailored to your event's theme.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 text-center">
        <video src="/videos/greenscreen.mov" class="d-block mx-lg-auto img-fluid rounded" autoplay muted loop></video>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Green Screen Backgrounds</h1>
        <p class="lead">
          Choose from a variety of stunning virtual scenes to transform your photos into unforgettable memories.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 order-lg-2 text-center">
        <video src="/videos/effects.mov" class="d-block mx-lg-auto img-fluid rounded" autoplay muted loop></video>
      </div>
      <div class="col-12 col-lg-6 order-lg-1">
        <h1 class="display-5 fw-bold lh-1 mb-3">Fun Face Effects</h1>
        <p class="lead">
          Fun and interactive filters add creativity to your event, including seasonal looks and glam styles.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6 text-center">
        <img src="/images/gallery.png" class="d-block mx-lg-auto img-fluid rounded" alt="Instant Gallery" />
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Instant Online Gallery</h1>
        <p class="lead">
          Instantly relive the magic with real-time photo galleries, ready to share and download directly from your event.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-3 my-5" style="background-color: #111111;">
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center text-center">
      <div class="col-12 py-5">
        <h1 class="fw-bold display-5 text-white mb-3">Secure Your Date</h1>
        <p class="lead text-white">
          Popular dates fill up quickly, secure your date with a deposit today!
        </p>
        <a href="/contact" class="btn btn-lg btn-primary">Check Availability</a>
      </div>
    </div>
  </div>
</section>