<section style="padding: 60px 0;">
    <div class="container col-xxl-8 px-4">
      <div class="row text-center">
        <div class="col-12">
          <h1 class="fw-bold display-5 mb-4" style="position: relative;">
            Booth Features
            <span style="display: block; height: 4px; width: 100px; background-color: #ffc107; margin: 10px auto 0; position: absolute; left: 50%; transform: translateX(-50%);"></span>
          </h1>
          <p class="lead mt-4" style="max-width: 800px; margin: 0 auto;">
            Guests love incorporating these fun and unique features into their events, making every celebration truly one-of-a-kind. From custom backdrops to engaging filters, these elements add a personal touch that everyone will remember.
          </p>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 text-center">
        <video
          src="/videos/tts.mp4"
          class="d-block mx-lg-auto img-fluid rounded"
          alt="Photo Booth"
          autoplay
          muted
          loop
        ></video>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Custom Start Screens</h1>
        <p class="lead">
          Transform your event with our green screen background feature,
          an option in all of our photo booth packages! Choose from a variety of
          stunning virtual scenes or let us create a custom backdrop to match
          your event's theme. Whether it's a tropical paradise, a starry night,
          or your favorite city skyline, the possibilities are endless!
        </p>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 order-lg-2 text-center">
        <img
          src="/images/prints.png"
          class="d-block mx-lg-auto img-fluid rounded"
          alt="Photo Booth"
        />
      </div>
      <div class="col-12 col-lg-6 order-lg-1">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          Custom Designed Instant Prints
        </h1>
        <p class="lead">
          Every guest gets a print to take home! Whether you prefer the timeless charm of classic 2x6 print strips or the elegant look of larger, premium 4x6 prints, both options are included in our packages. Plus, our in-house graphic designer will create a custom-framed print design tailored perfectly to your event's theme and style.
        </p>
      </div>
    </div>
  </div>
</section>
  
<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 text-center">
        <video
          src="/videos/greenscreen.mov"
          class="d-block mx-lg-auto img-fluid rounded"
          alt="Photo Booth"
          autoplay
          muted
          loop
        ></video>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Green Screen Backgrounds</h1>
        <p class="lead">
          Transform your event with our green screen background feature,
          an option in all of our photo booth packages! Choose from a variety of
          stunning virtual scenes. Whether it's a tropical paradise, a starry night,
          or your favorite city skyline, the possibilities are endless!
        </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
      <div class="col-12 col-lg-6 order-lg-2 text-center">
        <video
          src="/videos/effects.mov"
          class="d-block mx-lg-auto img-fluid rounded"
          alt="Photo Booth"
          autoplay
          muted
          loop
        ></video>
      </div>
      <div class="col-12 col-lg-6 order-lg-1">
        <h1 class="display-5 fw-bold lh-1 mb-3">Fun Face Effects</h1>
        <p class="lead">
          Fun and interactive filters are included in all of our photo booth
          packages! From playful seasonal looks to trendy glam styles, our
          filter collection adds an extra layer of creativity to your event.
        </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 staggered-images">
      <div class="col-12 col-lg-6 order-lg-1 text-center">
        <div class="media-container">
          <img
            src="/images/gallery.png"
            class="media-fluid media-one rounded"
            alt="Instant Gallery"
          />
        </div>
      </div>
      <div class="col-12 col-lg-6 order-lg-2">
        <h1 class="display-5 fw-bold lh-1 mb-3">Instant Online Gallery</h1>
        <p class="lead">
          Instantly relive the magic of your event with our online photo gallery! 
          Guests can access their photos in real-time, download their favorites, 
          and share them directly to social media. Perfect for weddings, corporate events, 
          and parties—our Instant Gallery ensures your memories are just a click away. 
          No waiting, no hassle, just beautiful moments at your fingertips!
        </p>
      </div>
    </div>
  </div>
</section>


<section style="background-color: black; margin: 50px 0; padding: 50px 0;">
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5">
      <div class="col-12 text-center">
        <h1 class="fw-bold display-5 mb-3" style="color: white;">
          Secure Your Date
        </h1>
        <p class="lead" style="color: #ccc;">
          Popular dates fill up quickly, secure your date with a deposit today!
        </p>
        <a
          href="#form"
          class="btn btn-lg btn-primary"
          style="color: white;">Book Now</a
        >
      </div>
    </div>
  </div>
</section>

<style>
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .fw-bold {
    font-weight: 700 !important;
  }

  .display-5 {
    font-size: 2.5rem;
  }

  img {
    max-width: 90%;
    height: auto;
  }

  @media (max-width: 767.98px) {
    .row {
      flex-direction: column-reverse;
    }

    .col-12,
    .col-sm-8,
    .col-lg-6 {
      width: 100%;
      text-align: center;
    }

    .img-fluid {
      margin-bottom: 20px;
    }

    .media-container img {
      width: 100%;
    }
  }
</style>
