<footer class="text-muted">
    <div class="container footer-section">
      <div class="footer-logo">
        <img src="/images/branding/white-logo.png" alt="Logo">
      </div>
      <div class="footer-menu">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-uppercase text-light">Social</h5>
            <ul class="footer-links">
              <li><a href="https://maps.app.goo.gl/1JcbwCb2J1Y3AiPT8">Google Reviews</a></li>
              <li><a href="https://www.instagram.com/popstarphotobooths">Instagram</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5 class="text-uppercase text-light">Areas Served</h5>
            <ul class="footer-locations text-light">
              <li><a href="#">Raleigh</a></li>
              <li><a href="#">Durham</a></li>
              <li><a href="#">Chapel Hill</a></li>
              <li><a href="#">Cary</a></li>
              <li><a href="#">Wake Forest</a></li>
            </ul>
          </div>
          <div class="col-md-4 footer-buttons">
            <button type="button" class="btn btn-light btn-lg">
              <a href="mailto:danny@popstarphotobooths.com" style="text-decoration: none; color: inherit;">Email Danny</a>
            </button>
            <button type="button" class="btn btn-light btn-lg">
              <a href="tel:1+8455481569" style="text-decoration: none; color: inherit;">Call Danny</a>
            </button>
            <a href="https://www.instagram.com/popstarphotobooths" class="d-block mt-3">
              <img src="images/branding/instagram-icon.png" alt="Instagram" width="30">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  