<footer class="text-muted py-5">
  <div class="container footer-section">
    <div class="text-center mb-4">
      <img src="/images/branding/logo-white.png" alt="Logo" class="footer-logo mb-3" style="width: 250px;">
    </div>
    <div class="footer-menu">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-uppercase text-white">Social</h5>
          <ul class="list-unstyled footer-links">
            <li><a href="https://maps.app.goo.gl/1JcbwCb2J1Y3AiPT8" class="text-white">Google Reviews</a></li>
            <li><a href="https://www.instagram.com/popstarphotobooths" class="text-white">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase text-white">Services</h5>
          <ul class="list-unstyled footer-locations text-white">
            <li><a href="/rockstar-booth">Rockstar Booth</a></li>
            <li><a href="/popstar-booth">Popstar Booth</a></li>
            <li><a href="/360-booth">360 Booth</a></li>
          </ul>
        </div>
        <div class="col-md-4 footer-buttons text-center">
          <button type="button" class="btn btn-light btn-lg mb-3">
            <a href="mailto:danny@popstarphotobooths.com" style="text-decoration: none; color: inherit;">Email Danny</a>
          </button>
          <button type="button" class="btn btn-light btn-lg mb-3">
            <a href="tel:1+8455481569" style="text-decoration: none; color: inherit;">Call Danny</a>
          </button>
          <ul class="list-unstyled footer-links">
            <li><a href="/privacy-policy" class="text-white d-block mt-3">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions" class="text-white d-block mt-3">Terms and Conditions</a></li>
            <li class="text-white mt-3">© 2024 Popstar Photo Booths</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
