---
export interface Props {
  emContent: string;
  title: string;
}

const { emContent, title } = Astro.props;
---
<section id="form-section" class="py-5 bg-light text-center p-5">
  <div class="form-container">
    <h1 class="section-title mb-4 p-4"><em>{emContent}</em>{title}</h1>
    <form action="/thankyou.html" name="lead" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="lead" />
      <div class="row">
        <div class="col-12">
          <label for="firstName" class="form-label" name="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required />
        </div>
        <div class="col-12">
          <label for="lastName" class="form-label" name="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required />
        </div>
        <div class="col-12">
          <label for="email" class="form-label" name="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
        </div>
        <div class="col-12">
          <label for="phone" class="form-label" name="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" required />
        </div>
        <div class="col-12">
          <label for="eventDate" class="form-label" name="eventDate">When is your event?</label>
          <input type="date" class="form-control" id="eventDate" name="eventDate" required />
        </div>
        <div class="col-12">
          <label for="boothPreference" class="form-label" name="boothPreference">Which booth do you prefer?</label>
          <select class="form-select form-control" id="boothPreference" name="boothPreference" required>
            <option selected disabled>Select</option>
            <option value="popstar">Popstar Booth</option>
            <option value="rockstar">Rockstar Booth</option>
            <option value="rockstar">360 Booth</option>
            <option value="rockstar">I'm Not Sure</option>
          </select>
        </div>
        <div class="col-12">
          <label for="venueName" class="form-label" name="venueName">Name of venue</label>
          <input type="text" class="form-control" id="venueName" name="venueName" placeholder="Name of venue" required />
        </div>
        <div class="col-12">
          <label for="hours" class="form-label" name="hours">How many hours?</label>
          <input type="number" class="form-control" id="hours" name="hours" placeholder="Hours" required />
        </div>
        <div class="col-12">
          <label for="eventDescription" class="form-label" name="eventDescription">Describe your event</label>
          <textarea class="form-control" id="eventDescription" name="eventDescription" rows="3" placeholder="Describe your event" required></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary mt-3">Submit</button>
    </form>
  </div>
</section>
