---
const { photos = [] } = Astro.props;
---
<section class="photo-grid">
  <div class="container-fluid">
    <div class="row gx-3 gy-3">
      {photos.map((photo, index) => (
        <div class="col-6 col-md-4 col-lg-3" key={index}>
          <img src={photo.src} alt={photo.alt} class="img-fluid rounded" />
        </div>
      ))}
    </div>
  </div>
</section>

<style>
.photo-grid img {
  width: 100%;
  height: auto;
  display: block;
  border: 3px solid black;
}

.photo-grid .row {
  margin: 0;
}

.photo-grid .col-6 {
  padding: 0;
}

.photo-grid .col-md-4 {
  padding: 0;
}

.photo-grid .col-lg-3 {
  padding: 0;
}
</style>
