---
const { photos = [] } = Astro.props;
---
<section class="photo-grid">
  <div class="container-fluid px-0">
    <div class="row gx-0">
      {photos.slice(0, 4).map((photo, index) => (
        <div class="col-12 col-md-6 col-lg-6" key={index}>
          <img src={photo.src} alt={photo.alt} class="img-fluid" />
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .photo-grid img {
    width: 100%;
    height: auto;
    display: block;
    border: 3px black solid;
  }
  .photo-grid .row {
    margin: 0;
  }
  .photo-grid .col-12 {
    padding: 0;
  }
</style>
