<div class="container my-5">
  <div class="row">
    <h3 class="fw-bold display-5 mb-4 text-center mt-5 pb-5">
        Past Events
        <span style="display: block; height: 4px; width: 100px; background-color: #ffc107; margin: 10px auto 0; position: absolute; left: 50%; transform: translateX(-50%);"></span>
    </h3>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-e6f49012-bd96-409a-a92b-2459ad4064a8" data-elfsight-app-lazy></div>
  </div>
</div>

