<section class="py-4 my-4">
    <div class="container col-xxl-8 px-3">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="fw-bold mb-4 display-3">
                    With Our Photo Booths Packages You're Always Guaranteed
                    <span style="display: block; height: 4px; width: 100px; background-color: #ffc107; margin: 10px auto 0; position: absolute; left: 50%; transform: translateX(-50%);"></span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4">
            <div class="col-12 col-lg-6 text-center">
                <img src="/images/backdrops.jpg" class="d-block mx-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6">
                <h1 class="display-4 fw-bold lh-1 mb-3">Chic Backdrops</h1>
                <p class="lead">
                    Chic modern backdrops included in all of our photo booth packages. Preview our collection, or let us create a custom decor to impeccably match your theme.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4">
            <div class="col-12 col-lg-6 order-lg-2 text-center">
                <img src="/images/quality1.jpg" class="d-block mx-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
                <h1 class="display-4 fw-bold lh-1 mb-3">Better Image Quality</h1>
                <p class="lead">
                    You're guaranteed studio quality photos that your guests will absolutely love! Our booths are equipped with state-of-the-art technology and guarantee the highest quality.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4">
            <div class="col-12 col-lg-6 order-lg-1 text-center">
                <img src="/images/glam2.jpg" class="d-block mx-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6 order-lg-2">
                <h1 class="display-4 fw-bold lh-1 mb-3">Glam Style</h1>
                <p class="lead">
                    Enhance your booth experience with our signature GLAM Skin Smoothing Filter. It will make everyone in the photo look simply fabulous 🤩.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4 staggered-images">
            <div class="col-12 col-lg-6 order-lg-2 text-center">
                <div class="media-container">
                    <img src="/images/prints.jpg" class="media-fluid media-one rounded" alt="Couple 1" />
                </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
                <h1 class="display-4 fw-bold lh-1 mb-3">Custom-Designed Instant Prints</h1>
                <p class="lead">
                    Everyone gets a print! Whether you love the classic 2x6 print strips or the larger, premium 4x6 prints, either option is included in our packages!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4">
            <div class="col-12 col-lg-6 order-lg-1 text-center">
                <img src="/images/props.jpg" class="d-block mx-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6 order-lg-2">
                <h1 class="display-4 fw-bold lh-1 mb-3">Unique Fun Props</h1>
                <p class="lead">
                    Killer props. Not like those other props. (We take props very seriously, but also very un-seriously). We're also party professionals and we’ll or demonstrate our recommended pose. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-3 mb-4">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4 staggered-images">
            <div class="col-12 col-lg-6 order-lg-2 text-center">
                <div class="media-container" style="max-width: 60%; margin: 0 auto;">
                    <img src="/images/gallery.png" class="media-fluid media-one rounded" alt="Couple 1" />
                </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-1 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Your Private Gallery</h1>
                <p class="lead">
                    On top of the instant sharing options at the event, you will also receive the following day a private gallery with all photos! YES, all of them! Meaning not only the overlay prints but every single photo taken during the night.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="py-5 pb-5" style="background-color: black;">
    <div class="container col-xxl-8 px-3">
        <div class="row align-items-center g-4">
            <div class="col-12 text-center">
                <h1 class="fw-bold display-3 mb-3" style="color: white;">
                    Secure Your Date
                </h1>
                <p class="lead" style="color: #ccc;">
                    Popular dates fill up quickly, secure your date today!
                </p>
                <a href="/contact" class="btn btn-lg btn-primary" style="color: white;">Book Now</a>
            </div>
        </div>
    </div>
</section>

<style>
    .lead {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.6;
    }

    .fw-bold {
        font-weight: 700 !important;
    }

    .display-3 {
        font-size: 2.5rem;
    }

    .display-4 {
        font-size: 2rem;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    @media (max-width: 767.98px) {
        .row {
            flex-direction: column-reverse;
        }

        .col-12, .col-sm-8, .col-lg-6 {
            width: 100%;
            text-align: center;
        }

        .img-fluid {
            margin-bottom: 15px;
        }

        .display-3, .display-4 {
            font-size: 1.75rem;
        }

        .media-container img {
            width: 100%;
        }
    }
</style>
