<section class="py-5 my-5">
    <div class="container col-xxl-8 px-4">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="fw-bold mb-5 display-3" style="position: relative;">
                    With Our Photo Booths Packages You're Always Guaranteed
                    <span style="display: block; height: 4px; width: 100px; background-color: #ffc107; margin: 15px auto 0; position: absolute; left: 50%; transform: translateX(-50%);"></span>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5">
            <div class="col-12 col-lg-6 text-center">
                <img src="/images/backdrops.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6">
                <h1 class="display-4 fw-bold lh-1 mb-4">Chic Backdrops</h1>
                <p class="lead">
                    Chic modern backdrops included in all of our photo booth packages. Preview our collection, or let us create a custom decor to impeccably match your theme.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5">
            <div class="col-12 col-lg-6 order-lg-2 text-center">
                <img src="/images/quality1.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
                <h1 class="display-4 fw-bold lh-1 mb-4">Better Image Quality</h1>
                <p class="lead">
                    You're guaranteed studio quality photos that your guests will absolutely love! Our booths are equipped with state-of-the-art technology and guarantee the highest quality. It’s a wonderland of color and chaos, commotion and countdowns.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5">
            <div class="col-12 col-lg-6 order-lg-1 text-center">
                <img src="/images/glam2.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Photo Booth" />
            </div>
            <div class="col-12 col-lg-6 order-lg-2">
                <h1 class="display-4 fw-bold lh-1 mb-4">Glam Style</h1>
                <p class="lead">
                    Enhance your booth experience with our signature GLAM Skin Smoothing Filter. It will make everyone in the photo look simply fabulous 🤩 You may have seen striking photo booth pictures of celebrities, featuring flawless skin and pristine white backdrops. The secret to obtaining this look lies in the quality of our equipment.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5 staggered-images">
            <div class="col-12 col-lg-6 order-lg-2 text-center">
                <div class="media-container">
                    <img src="/images/prints.jpg" class="media-fluid media-one rounded" alt="Couple 1" />
                </div>
            </div>
            <div class="col-12 col-lg-6 order-lg-1">
                <h1 class="display-4 fw-bold lh-1 mb-4">Custom-Designed Instant Prints</h1>
                <p class="lead">
                    Everyone gets a print! Whether you love the classic 2x6 print strips or the larger, premium 4x6 prints, either option is included in our packages! Also we can do pretty much any design you dream of! Our in-house graphic designer will craft a custom framed print to match perfectly with your theme and style.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5" style="background-color: black;">
    <div class="container col-xxl-8 px-4">
        <div class="row align-items-center g-5">
            <div class="col-12 text-center">
                <h1 class="fw-bold display-3 mb-4" style="color: white;">
                    Secure Your Date
                </h1>
                <p class="lead" style="color: #ccc;">
                    Popular dates fill up quickly, secure your date with a deposit today!
                </p>
                <a href="/contact" class="btn btn-lg btn-primary" style="color: white;">Book Now</a>
            </div>
        </div>
    </div>
</section>

<style>
    .lead {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .fw-bold {
        font-weight: 700 !important;
    }

    .display-3 {
        font-size: 3rem;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    @media (max-width: 767.98px) {
        .row {
            flex-direction: column-reverse;
        }

        .col-12, .col-sm-8, .col-lg-6 {
            width: 100%;
            text-align: center;
        }

        .img-fluid {
            margin-bottom: 20px;
        }

        .media-container img {
            width: 100%;
        }
    }
</style>
