<section class="divider-block container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-3 offset-lg-1 text-content">
      <p class="text-uppercase fw-bold text-custom">
        We make you look really good!
      </p>
      <h1 class="display-4 fw-bold">
        North Carolina’s <span class="text-highlight">Hottest </span>Photo Booth!
      </h1>

      <p class="lead text-muted">LIMITED SPOTS AVAILABLE FOR BUSY DATES IN 2024. Check Availability!</p>
      <div class="d-flex align-items-center mb-3">
        <span class="text-warning me-2">★★★★★</span>
        <a href="#reviews" class="text-decoration-none">Read Reviews →</a>
      </div>
      <button type="button" class="btn btn-lg btn-primary";>
        <a href="tel:1+9192787226" style="text-decoration: none; color: white;">Call 919-278-7226</a>
      </button>
      <div class="mt-3">
        <span>FEATURED ON</span>
        <img src="/images/theknot.png" alt="theknot" class="ms-2 feature-image" />
        <img src="/images/weddingwire.png" alt="weddingwire" class="ms-2 feature-image" />
      </div>
    </div>
    <div class="col-lg-8 image-container position-relative">
      <img
        src="/images/header.jpeg"
        alt="Photo Booth"
        class="img-fluid main-image"
      />
      <div class="image-fade"></div>
    </div>
  </div>
</section>

<style>
  .divider-block {
    background-color: white;
    margin-top: 6em;
  }
  .divider-block .text-content {
    padding-right: 1rem;
  }
  .divider-block .main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .divider-block .image-fade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to right,
      white 0%,
      transparent 20%,
      transparent 80%,
      white 100%
    );
  }
  .feature-image {
    max-width: 100px;
    height: auto;
  }

  .text-custom {
    letter-spacing: 0.3em;
    color: black;
    font-weight: 100;
    font-size: 0.7rem;
    position: relative;
  }
  .text-custom::after {
    content: "";
    display: block;
    width: 10%;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
  }
  .text-highlight {
    font-family: "Vujahday Script", cursive;
    font-weight: 500;
    color: black;
  }
  .lead,
  .text-muted,
  .text-decoration-none,
  .fw-bold {
    color: black !important;
  }

  @media (max-width: 767.98px) {
    .divider-block .image-container {
      order: -1;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0 !important;
    }
    .divider-block .image-fade {
      display: none;
    }
  }
</style>
