---
const {
  mainImage = "/images/prints.png",
  headerText = "Custom-Designed Instant Prints",
  descriptionText = "Everyone gets a print! Whether you love the classic 2x6 print strips or the larger, premium 4x6 prints, either option is included in our packages! Also we can do pretty much any design you dream of! Our in-house graphic designer will craft a custom framed print to match perfectly with your theme and style."
} = Astro.props;
---

<section class="pb-5">
  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{headerText}</h1>
        <p class="lead">{descriptionText}</p>
      </div>
      <div class="col-12 col-sm-8 col-lg-6">
        <img src={mainImage} class="d-block mx-lg-auto img-fluid rounded" alt="Photo Booth" width="700" height="500" loading="lazy" />
      </div>
    </div>
  </div>
</section>

<style>
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .fw-bold {
    font-weight: 700 !important;
  }
  .display-5 {
    font-size: 2.5rem;
  }
  .h3 {
    font-size: 1.75rem;
  }
  @media (max-width: 767.98px) {
    .row {
      flex-direction: column;
    }
    .col-12,
    .col-sm-8,
    .col-lg-6 {
      width: 100%;
    }
    .img-fluid {
      margin-bottom: 20px;
    }
  }
</style>
