---
import 'bootstrap/dist/css/bootstrap.css';

const navbarItems = [
  { text: 'Home', href: '/' },
  { text: 'About', href: '/about' },
  { text: 'Inquiry', href: '/inquiry' },
  { text: 'Backdrops', href: '/backdrops' },
//   {
//     text: 'Services',
//     subItems: [
//       { text: 'Service 1', href: '#' },
//       { text: 'Service 2', href: '#' },
//       { text: 'Service 3', href: '#' },
//     ],
//   },
];
---
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/branding/logo.png" alt="Logo"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {navbarItems.map((item) => (
          <li class="nav-item">
            <a class="nav-link" href={item.href}>{item.text}</a>
            {item.subItems && (
              <ul class="dropdown-menu">
                {item.subItems.map((subItem) => (
                  <li>
                    <a class="dropdown-item" href={subItem.href}>{subItem.text}</a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))}
      </ul>
    </div>
  </div>
</nav>
