<section class="testimonial-section">
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-00bcc166-aa9a-4d2e-b6ca-32ee355ecdbb" data-elfsight-app-lazy></div>
  </div>
</section>

