<div class="container mt-5">
    <h2>Privacy Policy</h2>
    <p><strong>Effective date: June 9, 2024</strong></p>
    <p>This Privacy Policy (“Privacy Policy” or “Policy”) describes the types of information gathered by Popstar Photo Booths (located at 9312 Langwood Drive, Raleigh NC 27617 and reachable at 919-278-7226) (hereinafter “Popstar Photo Booths,” “we” or “us”) in the process of providing this website, services, information, tools, functionality, updates and similar materials (collectively, the “Services”), how we use it, with whom the information may be shared, what choices are available to you regarding collection, use and distribution of information and our efforts to protect the information you provide to us through the Services. By using the Services, you hereby consent to allow us to process information in accordance with this Policy.</p>
    <p>This Policy is subject to change. If our information retention or usage practices change, we will let you know by posting the Privacy Policy changes on the Services and/or otherwise making you aware of the changes. Please refer to the “Effective Date” above to see when this Policy was last updated.</p>
  
    <h4>TERRITORIALITY</h4>
    <p>Regardless of where our servers are located, your personal data may be processed by us in the United States, where data protection and privacy regulations may or may not be to the same level of protection as in other parts of the world. <strong>BY VISITING THE WEBSITE AND USING THE SERVICES, YOU UNEQUIVOCALLY AND UNAMBIGUOUSLY CONSENT TO THE COLLECTION AND PROCESSING IN THE UNITED STATES OF ANY INFORMATION COLLECTED OR OBTAINED BY US THROUGH VOLUNTARY SUBMISSIONS, AND THAT U.S. LAW GOVERNS ANY SUCH COLLECTION AND PROCESSING.</strong></p>
  
    <h4>INFORMATION COLLECTED</h4>
    <p>We collect two types of information about and from persons who use the Services: Personal Information and Anonymous Information. “Personal Information” is information that is personally identifiable to you, such as your name, address, email address or phone number, as well as other non-public information that is associated with the foregoing. Anything you publicly post or that is available publicly will not be considered Personal Information, and will be outside the restrictions of this policy. “Anonymous Information” means information that is not associated with or linked to your Personal Information. We may create Anonymous Information from (i) automatically gathered information or (ii) Personal Information by excluding information (such as name) that may make the information personally identifiable to you.</p>
  
    <h5>PERSONAL INFORMATION COLLECTED</h5>
    <p>We collect certain Personal Information about you or about those you identify, which may be supplied when you interact with the Services, complete a survey, make a purchase, when you request services or otherwise when you submit such information. The information collected may include one or more of the following:</p>
    <ul>
      <li>Name</li>
      <li>Address</li>
      <li>Phone number</li>
      <li>Email</li>
      <li>Username</li>
      <li>Information from your activities on the Services</li>
    </ul>
    <p>Although the Services may appear to collect payment card information, such information is collected directly by our credit card processing vendor, and we do not have possession of such information.</p>
  
    <h5>ANONYMOUS INFORMATION</h5>
    <p>Anonymous Information is collected about you when you use the Services, including but not limited to enrollment history, the type of device you used and its operating system, the pages accessed most frequently, how pages are used, search terms entered, and similar data. Automatically Tracking Internet Protocol (IP) addresses is one method of automatically collecting information about your activities online and information volunteered by you. An IP address is a number that is automatically assigned to your device whenever you surf the internet. Further, the Services may utilize web beacons, pixel tags, cookies, embedded links, and other commonly used information-gathering tools. Although it may be possible to turn off the collection of cookies through your device, that may interfere with your use of the Services.</p>
  
    <h4>USE OF INFORMATION</h4>
    <p><strong>Internal Use of Information by Us:</strong> We accept and gather Personal Information and Anonymous Information in an effort to provide the Services to you. We may also use this information to help us develop and improve our Services, fulfill your requests, send materials to you, inform you about our offers and those of others, tailor our Services to meet your interests, and for other purposes permitted by law. We may use Anonymous Information or non-Personal Information for any business purpose.</p>
  
    <h4>SHARING COLLECTED INFORMATION</h4>
    <p>We may share Personal Information and Anonymous Information with our business associates, consultants, service providers, advisors and affiliates in order for them to provide services to us, to you, and to enable us to provide the Services. For example, our host and internet service provider may have access to this information.</p>
    <p>We may also share Personal Information and Anonymous Information with third-parties for marketing and analytics, when marketing our Products and Services, and for other purposes permitted by law. The use of information by third-parties will be governed by their own policies, and may be broader than the uses outlined in this Policy.</p>
    <p>Further, we may disclose collected information, including Personal Information and Anonymous Information, to the extent we believe it necessary to comply with the law, such as in response to a subpoena or court order, to defend a legal claim or establish or protect our legal rights or otherwise as permitted by applicable law. We may disclose any information in our possession in the event that we believe it necessary or appropriate to prevent criminal activity, personal injury, property damage or bodily harm.</p>
    <p>Additionally, we may transfer your information to a successor in interest, which may include but may not be limited to a third-party in the event of an acquisition, sale, asset sale, merger or bankruptcy. The policies applicable to your information thereafter may be determined by the transferee.</p>
  
    <h4>LINKS</h4>
    <p>The Services may contain links to other websites. We are not responsible for the privacy practices of such other sites. When you leave our Service to visit another website or application, please read the privacy statements of websites that may collect personally identifiable information. This Privacy Policy applies solely to information collected by us through the Services.</p>
  
    <h4>SECURITY</h4>
    <p>We employ procedural and technical safeguards to secure your personal information against loss, theft, alteration, and unauthorized access, use and disclosure. We also employ security procedures to protect your information from unauthorized access by users inside and outside the company.</p>
    <p>Regardless of the precautions we take, no transmission of data over the internet is guaranteed to be completely secure. It may be possible for third parties not under our control to intercept or access transmissions or private communications unlawfully. While we strive to protect personal information, we cannot ensure or warrant the security of any information you transmit to us.</p>
  
    <h4>E-MAIL AND ELECTRONIC NEWSLETTERS</h4>
    <p>We may offer electronic newsletters and e-mails concerning available properties, as well as new products and services, or may provide other marketing materials as a service to our users. Users may receive newsletters and e-mails concerning promotions and marketing of ours or of our business partners, after registering with the Services or after engaging with us in person or through our agents.</p>
    <p>If you have received a message from us, and you no longer wish to receive such materials, you may opt-out by following the unsubscribe instructions included in each electronic newsletter and e-mail. Please note that you may be required to separately opt out of any e-mails sent by our business associates.</p>
  
    <h4>CHILDREN AND PRIVACY</h4>
    <p>We do not knowingly permit users to use our Services if they are under 13 years old, and therefore do not request personally identifiable information from anyone under the age of 13. If we become aware that a user or customer is under the age of 13 and has registered without verifiable parental consent, we will remove his or her personally identifiable registration information from our files. If you are the parent or guardian of a person under the age of 13 who has provided personally identifiable information to us without your approval, please inform us by contacting us at the e-mail address below and we will remove such information from our database.</p>
  
    <h4>DO NOT TRACK</h4>
    <p>At present, the Services do not specifically respond to browser do-not-track signals.</p>
  
    <h4>PRIVACY RIGHTS</h4>
    <p>To request information regarding our disclosures in the prior calendar year, if any, of their personally identifiable information to third parties. To make such a request, please contact us at <a href="mailto:danny@popstarphotobooths.com">danny@popstarphotobooths.com</a> with “Request for Privacy Information” in the subject line. Please include enough detail for us to locate your file; at a minimum, your name, email, and username, if any. We will attempt to provide you with the requested information within thirty (30) days of receipt. We reserve our right not to respond to requests sent more than once in a calendar year, or requests submitted in a form other than as prescribed in this notice. Please note that this law does not cover all information sharing. Our disclosure only includes information covered by the law.</p>
  
    <h4>CONTACT INFORMATION</h4>
    <p>If you have any questions or suggestions regarding our Privacy Policy, please contact us via e-mail at <a href="mailto:danny@popstarphotobooths.com">danny@popstarphotobooths.com</a>.</p>
  </div>
  