<section class="photo-grid py-5">
    <h1 class="section-title text-center text-dark p-4">Happy Customers</h1>
    <div class="container">
      <div class="row">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-195d11b9-5a7c-406e-aeb6-0bc3cae6ea19" data-elfsight-app-lazy></div>
      </div>
    </div>
  </section>
  