
<section class="py-3 my-5" style="background-color: #111111;">
    <div class="container col-xxl-8 px-4">
      <div class="row align-items-center text-center">
        <div class="col-12 py-5">
          <h1 class="fw-bold display-5 text-white mb-3">Secure Your Date</h1>
          <p class="lead text-white">
            Popular dates fill up quickly, secure your date with a deposit today!
          </p>
          <a href="/contact" class="btn btn-lg btn-primary">Check Availability</a>
        </div>
      </div>
    </div>
  </section>