<section class="py-5 text-center bg-light">
  <div class="container">
    <script
      src="https://popstar-photo-booths.checkcherry.com/api/checkcherry_widgets"
      type="text/javascript"
      charset="utf-8"></script><div
      class="checkcherry__widget__design-template-gallery"
      data-props='{"apiKey":"TCN-R4JQ-W4A","host":"https://popstar-photo-booths.checkcherry.com","showBookNowButton":true,"bookNowButtonText":"Book Now","categoryId":null,"showTagViewer":true}'
    >
    </div>
  </div>
</section>
