<div class="container mt-5">
    <h2>Terms & Conditions</h2>
    <p><strong>Popstar Photo Booths</strong>, located at 9312 Langwood Drive, Raleigh NC 27617, and reachable at 919-278-7226 (hereinafter “Popstar Photo Booths”, “we” or “us”), provides this website, product, and the services, functionality, data, information, tools, updates, and similar materials delivered or provided by us (the “Services”) subject to your agreement to and compliance with the terms and conditions, as updated from time to time, as set forth in this Terms of Service Agreement (the “Agreement”).</p>
    <p>This Agreement sets forth the legally binding terms and conditions governing your use of the Services, and the use of the Services by any entity on whose behalf you sign up. If you do not agree to these terms and conditions, you may not use the Services.</p>
  
    <h4>LICENSE</h4>
    <p>As long as you are in compliance with the conditions of this Agreement and all incorporated documents, we hereby grant you during the Term (as defined herein) a limited, revocable, non-assignable, non-transferable, non-sublicensable, non-exclusive license to access and use the Services and the materials thereon that are intended to be displayed publicly. No rights not explicitly listed herein are granted.</p>
  
    <h4>INCORPORATED TERMS</h4>
    <p>The following additional terms are incorporated into this Agreement as if fully set forth herein:</p>
    <ul>
      <li>Privacy Policy</li>
      <li>Copyright Policy</li>
      <li>Complaint Policy (including Privacy and Trademark)</li>
    </ul>
    <p>The materials appearing on the Services, including but not limited to summaries, descriptions, backdrops, prints, publications, and any other such materials, are not intended to and DO NOT constitute legal, medical, financial, investment, business, or professional advice of any kind. You agree that we are not responsible for any decisions that you may make.</p>
    <p>While we make reasonable efforts to ensure that the Services will be uninterrupted, we do not represent or warrant that the Services will be error-free or uninterrupted. We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Services, or any part thereof, with or without notice.</p>
  
    <h4>ELIGIBILITY</h4>
    <p>You must be over the age of 18 to register an account or use the Services. By using the Services, you represent that you meet this minimum age requirement. Some parts or all of the Services may not be available to the general public, and we may impose eligibility rules on such portions of the Services from time to time. We reserve the right to amend or eliminate these eligibility requirements at any time. You are not eligible to use the Services if doing so would violate any U.S. law or regulation, including but not limited to export controls or restrictions.</p>
  
    <h4>SUBSCRIPTION AND FEES</h4>
    <p>As more fully described on the Services, certain elements of the Services may require fees for access (the “Paid Services”). We may use a third-party payment processor (the “Payment Processor”) to charge you through an online account for use of the Paid Service. The processing of payments will be subject to the terms, conditions, and privacy policies of the Payment Processor in addition to this Agreement. We are not responsible for errors by the Payment Processor.</p>
    <p>You agree to pay us, through the Payment Processor or in another format accepted by us, all charges for the Paid Services that you access, and you authorize us, where applicable, through the Payment Processor, to charge your chosen payment provider (your “Payment Method”). For Paid Services involving one-time fees, as identified on the Services, your Payment Method will be charged at the time of purchase, or you will be billed by us, as determined by us.</p>
    <p>For recurring subscriptions, we will automatically charge your Payment Method or invoice you (as determined by us) for the next period at the end of each subscription period, as further identified on the Services and at purchase. If you purchase a subscription, it may result in recurring charges to your Payment Method or otherwise, and you agree that we may charge such amounts until such a time as your subscription expires or you cancel the subscription, depending on the subscription type.</p>
    <p>In addition to other applicable remedies, we reserve the right to suspend and/or terminate your access to the Services and/or terminate this Agreement if your Payment Method is declined or fails and your account therefore is delinquent. Charges to delinquent accounts are subject to interest of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is less, plus all expenses of collection, including reasonable attorneys’ fees and court costs.</p>
  
    <h4>RULES OF CONDUCT</h4>
    <p>Your use of the Services is conditioned on your compliance with the terms of this Agreement, including but not limited to these rules of conduct. You agree that you will not violate any applicable law or regulation in connection with your use of the Services. You agree not to distribute, upload, make available or otherwise publish through the Services any suggestions, information, ideas, comments, causes, promotions, documents, questions, notes, plans, drawings, proposals, or materials similar thereto (“Submissions”) or graphics, text, information, links, profiles, audio, photos, software, music, sounds, video, comments, messages, or tags, or similar materials (“Content”) that:</p>
    <ul>
      <li>is unlawful or encourages another to engage in anything unlawful;</li>
      <li>contains a virus or any other similar programs or software which may damage the operation of our or another’s computer;</li>
      <li>violates the rights of any party or infringes upon the patent, trademark, trade secret, copyright, right of privacy or publicity, or other intellectual property right of any party;</li>
      <li>is false, inaccurate, fraudulent or misleading; or,</li>
      <li>is libelous, defamatory, obscene, inappropriate, invasive of privacy or publicity rights, abusing, harassing, threatening or bullying.</li>
    </ul>
    <p>You must keep your username and password and any other information needed to log in to the Services, if applicable, confidential and secure. We are not responsible for any unauthorized access to your account or profile by others.</p>
    <p>You further agree that you will not do any of the following:</p>
    <ul>
      <li>modify, adapt, translate, copy, reverse engineer, decompile, or disassemble any portion of the Services;</li>
      <li>interfere with or disrupt the operation of the Services, including restricting or inhibiting any other person from using the Services by means of hacking or defacing;</li>
      <li>transmit to or make available in connection with the Services any denial of service attack, virus, worm, Trojan horse or other harmful code or activity;</li>
      <li>attempt to probe, scan, or test the vulnerability of a system or network of the Services or to breach security or authentication measures without proper authorization;</li>
      <li>take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our infrastructure;</li>
      <li>harvest or collect the email address or other contact information of other users of the Services;</li>
      <li>scrape or collect content from the Services via automated or large group means;</li>
      <li>submit, post, or make available false, incomplete, or misleading information to the Services, or otherwise provide such information to us;</li>
      <li>register for more than one user account; or,</li>
      <li>impersonate any other person or business.</li>
    </ul>
    <p>Notwithstanding the foregoing rules of conduct, our unlimited right to terminate your access to the Service shall not be limited to violations of these rules of conduct.</p>
  
    <h4>CONTENT SUBMITTED OR MADE AVAILABLE TO US</h4>
    <p>You are under no obligation to submit anything to us, and unless otherwise noted, we will not claim ownership of any Content. However, in order for us to provide the Services, we need your permission to process, display, reproduce and otherwise use Content you make available to us. Therefore, if you choose to submit any Content to the Services, or otherwise make available any Content through the Services, you hereby grant to us a perpetual, irrevocable, transferrable, sub-licensable, non-exclusive, worldwide, royalty-free license to reproduce, use, modify, display, perform, distribute, translate and create derivative works from any such Content, including without limitation distributing part or all of the Content in any media format through any media channels.</p>
    <p>By submitting any Content or Submissions to us you hereby agree, warrant and represent that:</p>
    <ul>
      <li>except as provided in the Privacy Policy, the Content and Submissions do not contain proprietary or confidential information, and the provision of the Content and Submissions is not a violation of any third-party’s rights;</li>
      <li>all such Submissions and Content are accurate and true,</li>
      <li>except as provided in the Privacy Policy, we are not under any confidentiality obligation relating to the Content or Submissions;</li>
      <li>except as provided in the Privacy Policy, we shall be entitled to use or disclose the Content or Submissions in any way; and</li>
      <li>you are not entitled to compensation or attribution from us in exchange for the Submissions or Content.</li>
    </ul>
    <p>You acknowledge that we are under no obligation to maintain the Services, or any information, materials, Submissions, Content, or other matter you submit, post or make available to or on the Services. We reserve the right to withhold, remove, and/or discard any such material at any time.</p>
  
    <h4>CONTENT SHARED THROUGH THE SERVICES</h4>
    <p>You understand that by sharing information on the Services, and requesting information to be sent through the Services, you may be revealing information about yourself and/or your business that you may include and that may be generated by the Services. You understand and acknowledge that you are fully aware and responsible for the impact of sharing such materials, and you agree that we shall not be held responsible, and we shall be released and held harmless by you from any liability or damages arising out of or relating to such conduct.</p>
  
    <h4>OUR INTELLECTUAL PROPERTY</h4>
    <p>Our graphics, logos, names, designs, page headers, button icons, scripts, and service names are our trademarks, trade names and/or trade dress. The “look” and “feel” of the Services (including color combinations, button shapes, layout, design and all other graphical elements) are protected by U.S. copyright and trademark law. All product names, names of services, trademarks, and service marks (collectively, “Marks”) are our property or the property of their respective owners, as indicated. You may not use the Marks or copyrights for any purpose whatsoever other than as permitted by this Agreement.</p>
  
    <h4>PASSWORDS AND ACCOUNTS</h4>
    <p>You are responsible for controlling the access to and use of your account. Always make sure that your password is kept confidential. You understand and agree that we may assume that instructions from an individual associated with your account are authoritative and should be acted upon by us.</p>
    <p>We are not responsible for any unauthorized access to your account or profile, and any ramifications of such access, and are not required to take action to disable any account. You agree that you will not bring an action against us arising out of or related to any claimed unauthorized access using your account credentials. Under confirmed unauthorized use circumstances, we may take action to address your situation. In the event that you would like to report a breach, please contact <a href="mailto:danny@popstarphotobooths.com">danny@popstarphotobooths.com</a> with the term “Account Breach Notice” in the subject line.</p>
  
    <h4>ENFORCEMENT AND TERMINATION</h4>
    <p>The “Term” of this Agreement will be until terminated as provided herein. We reserve the right to deny all or some portion of the Services to any user, in our sole discretion, at any time. You may terminate this Agreement at any time by canceling any Service Agreement you may have and informing us at <a href="mailto:danny@popstarphotobooths.com">danny@popstarphotobooths.com</a>.</p>
  
    <h4>DISCLAIMERS AND LIMITATION ON LIABILITY</h4>
    <p><strong>BY USING THE SERVICES YOU AGREE AND ACKNOWLEDGE THAT WE PROVIDE THE SERVICES “AS IS” AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. WE AND OUR PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, SHAREHOLDERS, MEMBERS, MANAGERS, EMPLOYEES AND SUPPLIERS (“BUSINESS PARTNERS”), SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, ACCURACY, SUITABILITY, APPLICABILITY, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR ANY OTHER WARRANTIES OF ANY KIND. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM US SHALL CREATE ANY WARRANTY.</strong></p>
    <p><strong>USE OF THE SERVICES IS AT YOUR SOLE RISK. WE DO NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR USE THE SERVICES AT THE TIMES OR LOCATIONS OF YOUR CHOOSING; THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE SERVICES ARE FREE OF INACCURACIES, MISREPRESENTATIONS BY USERS, VIRUSES OR OTHER HARMFUL COMPONENTS. TO THE MAXIMUM EXTENT PERMITTED BY LAW, AND EXCEPT AS OTHERWISE PROHIBITED BY LAW, IN NO EVENT SHALL WE OR OUR AFFILIATES, LICENSORS OR BUSINESS PARTNERS (COLLECTIVELY, THE “RELATED PARTIES”) BE LIABLE TO YOU BASED ON OR RELATED TO THE SERVICES OR THIS AGREEMENT, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, AND SHALL NOT BE RESPONSIBLE FOR ANY LOSSES OR DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE SERVICES, EVEN IF WE AND/OR RELATED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</strong></p>
    <p>Notwithstanding the foregoing, in the event that a court shall find that the above disclaimers are not enforceable, then you agree that neither we nor any of our subsidiaries, affiliated companies, employees, members, shareholders, or directors shall be liable for (1) any damages in excess of the greater of (a) $500.00 or (b) the amounts paid by you to us in the twelve (12) months immediately preceding any claim, nor (2) any indirect, incidental, punitive, special, or consequential damages or loss of use, lost revenue, lost profits or data to you or any third party from your use of the Services. This limitation shall apply regardless of the basis of your claim or whether or not the limited remedies provided herein fail of their essential purpose.</p>
    <p><strong>SOME STATES MAY NOT PERMIT CERTAIN DISCLAIMERS AND LIMITATIONS, AND ANY SUCH DISCLAIMERS OR LIMITATIONS ARE VOID WHERE PROHIBITED.</strong></p>
  
    <h4>DISPUTES, GOVERNING LAW, AND JURISDICTION</h4>
    <p>You agree that any claim or dispute arising out of or relating in any way to your use of the Services or any service provided by us will be resolved solely and exclusively by binding arbitration, rather than in court, except that you may assert claims in small claims court if your claims qualify. The Federal Arbitration Act and federal arbitration law apply to this agreement. The laws of the State of North Carolina shall govern this Agreement, and shall be used in any arbitration proceeding.</p>
    <p>There is no judge or jury in arbitration, and court review of an arbitration award is limited. However, an arbitrator can award on an individual basis the same damages and relief as a court (including injunctive and declaratory relief or statutory damages), and must follow the terms of this Agreement as a court would.</p>
    <p>To begin an arbitration proceeding, you must send a letter requesting arbitration and describing your claim to the following address: 9312 Langwood Drive, Raleigh, NC 27617. Arbitration under this Agreement will be conducted by the American Arbitration Association (AAA) under its rules then in effect. Payment of all filing, administration, and arbitrator fees will be governed by the AAA’s rules.</p>
    <p>You and we agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated, or representative action. If for any reason a claim proceeds in court rather than in arbitration, both you and we agree that parties have each waived any right to a jury trial.</p>
    <p>Notwithstanding the foregoing, you agree that we may bring suit in court to enjoin infringement or other misuse of intellectual property or other proprietary rights.</p>
    <p>To the extent arbitration does not apply, you agree that any dispute arising out of or relating to the Services, or to us, may only be brought by you in a state or federal court located in North Carolina. <strong>YOU HEREBY WAIVE ANY OBJECTION TO THIS VENUE AS INCONVENIENT OR INAPPROPRIATE, AND AGREE TO EXCLUSIVE JURISDICTION AND VENUE IN NORTH CAROLINA.</strong></p>
  
    <h4>GENERAL</h4>
    <p><strong>Severability.</strong> If any provision of this Agreement is found for any reason to be unlawful, void, or unenforceable, then that provision will be given its maximum enforceable effect or shall be deemed severable from this Agreement and will not affect the validity and enforceability of any remaining provision.</p>
    <p><strong>Revisions.</strong> This Agreement may only be revised in writing signed by us or posted by us to the Services. In the event that we update this Agreement and you are made aware of the update, your continued use of the Services after the update shall constitute an agreement to the updated terms.</p>
    <p><strong>No Partnership.</strong> You agree that no joint venture, partnership, employment, or agency relationship exists between you and us as a result of this Agreement or your use of the Services.</p>
    <p><strong>Assignment.</strong> We may assign our rights under this Agreement, in whole or in part, to any person or entity at any time with or without your consent. You may not assign the Agreement without our prior written consent. Any unauthorized assignment shall be null and void.</p>
    <p><strong>No Waiver.</strong> Our failure to enforce any provision of this Agreement shall in no way be construed to be a present or future waiver of such provision, nor in any way affect the right of any party to enforce each and every such provision thereafter. The express waiver by us of any provision, condition, or requirement of this Agreement shall not constitute a waiver of any future obligation to comply with such provision, condition, or requirement.</p>
    <p><strong>Notices.</strong> All notices given by you or required under this Agreement shall be in writing and addressed to: 9312 Langwood Drive, Raleigh NC 27617.</p>
    <p><strong>Equitable Remedies.</strong> You hereby agree that we would be irreparably damaged if the terms of this Agreement were not specifically enforced, and therefore you agree that we shall be entitled, without bond, other security, or proof of damages, to appropriate equitable remedies with respect to breaches of this Agreement, in addition to such other remedies as we may otherwise have available to us under applicable laws.</p>
    <p><strong>Entire Agreement.</strong> This Agreement, including the documents expressly incorporated by reference, constitutes the entire agreement between you and us with respect to the Services, and supersedes all prior or contemporaneous communications, whether electronic, oral, or written.</p>
  
    <h4>COPYRIGHT POLICY</h4>
    <p>If you believe in good faith that any material posted on our Services infringes the copyright in your work, please contact our copyright agent, designated under the Digital Millennium Copyright Act (“DMCA”) (17 U.S.C. §512(c)(3)), with correspondence containing the following:</p>
    <ul>
      <li>A physical or electronic signature of the owner, or a person authorized to act on behalf of the owner, of the copyright that is allegedly infringed;</li>
      <li>Identification of the copyrighted work claimed to have been infringed;</li>
      <li>Identification, with information reasonably sufficient to allow its location of the material that disclaimed to be infringing;</li>
      <li>Information reasonably sufficient to permit us to contact you;</li>
      <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and,</li>
      <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
    </ul>
    <p>You acknowledge that if you fail to comply with all of the requirements of this policy, your DMCA notice may not be valid. For any questions regarding this procedure, or to submit a complaint, please contact our designated DMCA Copyright Agent:</p>
    <p>Popstar Photo Booths<br> Address: 9312 Langwood Drive, Raleigh, NC 27617<br> E-mail: <a href="mailto:danny@popstarphotobooths.com">danny@popstarphotobooths.com</a><br> Phone: +1 (919) 278-7226</p>
  
    <h4>COMPLAINT POLICY (INCLUDING TRADEMARK AND PRIVACY)</h4>
    <p>If you believe in good faith that any material posted on the Services infringes any of your rights other than copyright, or is otherwise unlawful, you must send a notice to <a href="mailto:danny@popstarphotobooths.com">danny@popstarphotobooths.com</a>, containing the following information:</p>
    <ul>
      <li>Your name, physical address, e-mail address, and phone number;</li>
      <li>A description of the material posted on the Site that you believe violates your rights or is otherwise unlawful, and which parts of said materials you believe should be remedied or removed;</li>
      <li>Identification of the location of the material on the Site;</li>
      <li>If you believe that the material violates your rights, a statement as to the basis of the rights that you claim are violated;</li>
      <li>If you believe that the material is unlawful or violates the rights of others, a statement as to the basis of this belief;</li>
      <li>A statement under penalty of perjury that you have a good faith belief that use of the material in the manner complained of is not authorized and that the information you are providing is accurate to the best of your knowledge and in good faith; and,</li>
      <li>Your physical or electronic signature.</li>
    </ul>
    <p>If we receive a message that complies with all of these requirements, we will evaluate the submission, and if appropriate, in our sole discretion, we will take action. We may disclose your submission to the poster of the claimed violative material, or any other party.</p>
  </div>
  