---
const boothOptions = [
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-4.mp4',
    alt: 'Party Booth Video',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100635"
  },
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-5.mp4',
    alt: '',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=84825"
  },
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-3.mp4',
    alt: 'Glam Booth Video',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99862"
  },
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-2.mp4',
    alt: 'Party Booth Video',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=100635"
  },
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-6.mp4',
    alt: 'Classic Booth Video',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=84825"
  },
  {
    mediaType: 'video',
    mediaSrc: '/videos/360-7.mp4',
    alt: 'Glam Booth Video',
    buttonAction: "https://popstar-photo-booths.checkcherry.com/reservation/set_event?event_type_id=99862"
  },
];
---

<section class="py-5">
  <div class="container pb-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {boothOptions.map((booth) => (
        <div class="col pb-3">
          <div class="card shadow-sm">
            <video src={booth.mediaSrc} class="card-img-top" autoplay muted loop playsinline alt={booth.alt}></video>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .card {
    border: none;
  }
  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
